.guessed{
	height: 100%;
	//%of guess-container 
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: -($input-font-size*1.5)
}
#guessed{
	font-size: $input-font-size;
}
