.puzzle{
	height: 100%;
	//%of puzzle-container;
	background-color: $foreground-color-one;

}
.answer-container{
	height:50%;
	background-color: yellow;
}
.guessed-container{
	height:30%;
	background-color: blue;
}
#guessed{
	font-size: $input-font-size;
}
.letterBox{
	border: solid 2px black;
	display: inline;
	font-size: $input-font-size*1.8;
}
.letter{
	display: inline;
}
.word{
	display: inline;
}
.long{
	margin-left: $input-font-size*1.5;
}
.prosper{
	margin-left: $input-font-size*1.5;
}