
@import 'variables';
@import 'content';
@import 'batteryContainer';
@import 'hintContainer';
@import 'puzzleContainer';
@import 'guessContainer';

.notTitleBar{
	height: 600px;
}
.titleBar{
	height: 200px;
	background-color: pink;
}
